:root {
  --bg: #F2F2F2;
  --main-color: #EAC649;
  --second-color: #000;
  --white-color: #fff;
  --border-color: #e5e7eb;
  --primary-color-text: #303333;
  --second-color-text: #585B5B;
  --third-color-text: #C7C7C7;

  --twitter-color: #00ACEE;
  --linkedin-color: #0E76A8;
  --github-color: #000;

  --main-font: 'Work Sans', sans-serif;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
}