.TodoList {
    & ul {
        margin: 0;
        padding: 0;
        width: 70%;
        margin: 0 auto;
        & li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 0.3rem 1rem 0.3rem 1rem;
            font-family: var(--main-font);
            font-weight: var(--semi-bold);
            color: #000;
            text-transform: capitalize;
            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5rem;
                height: 2rem;
                font-size: .8rem;
                font-weight: var(--regular);
                background-color: var(--main-color);
                color: var(--white-color);
                border: none;
                border-radius: 0.5rem;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
   
}
.AddTodoForm__Button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3rem;
    font-size: 1.1rem;
    font-weight: var(--regular);
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5rem;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
@media screen and (max-width: 767px) {
    .TodoList ul {
        width: 100%;
    }
}
@media screen and (max-width: 385px) {
    .TodoList ul li p {
        margin-right: .625rem;
    }
}
